<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ronald.medin">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DoctorInfoActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_doctor_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.MeasurementInfoActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_measurement_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.InsertMeasurementActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_insert_measurement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.MedicineInfoActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_medicine_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".Alarms.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="newAlarm" />
                <action android:name="cancelAlarm" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.AlarmActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_alarm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.InsertDoctorActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_doctor_insert"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.InsertTreatmentActivity"
            android:label="@string/title_activity_insert_treatment"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.InventoryInfoActivity"
            android:label="@string/title_activity_inventory_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.TreatmentInfoActivity"
            android:label="@string/title_activity_treatment_info"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>