<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ronald.medin">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.TreatmentActivity"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Activities.InsertDoctorActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_insert_doctor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.DoctorInfo"
            android:label="@string/title_activity_doctor_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.MeasurementInfo"
            android:label="@string/title_activity_measurement_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.InsertMeasurementActivity"
            android:label="@string/title_activity_insert_measurement"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.MedicineInfo"
            android:label="@string/title_activity_medicine_info"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>